<div id="unapprove-form" class="unapprove-form" style="display: none; ">
	
	<%= form_tag controller: "sellers",:action => 'unapprove', class: "nifty_form" %>
	<%= text_area "post", "body", "cols" => 4, "rows" => 10%>
	<%= button "Send", 'icon-ok' %>


  <a href="#close-modal" rel="modal:close" class="button">Close</a>
</div>